.settings-page {
  max-width: 750px;
  justify-self: center; 
}

.settings-card {
  padding: var(--padding); 
}

.btn {
  background: var(--accent);
  color: var(--text-main);
  border-radius: var(--radius); 
  cursor: pointer;
  font-weight: bold;

  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.3),          
    inset 0 1px 2px rgba(255, 255, 255, 0.1); 

  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.4),
    inset 0 1px 2px rgba(255, 255, 255, 0.15);
  background: var(--accent-secondary); 
}
