@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Roboto+Mono:wght@400;600&display=swap");

:root {
  --bg: #222831;             
  --bg-surface: #2d323a; 
  --bg-elevated: #393e46;    
  --bg-sunken: #2d323a; 

  --accent: #00adb5;         
  --accent-secondary: #ff5722; 

  --text-main: #eeeeee;      
  --text-muted: #b5b9bd;     

  --border: #4a4f55;         

  --shadow-low: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.25);
  --shadow-high: 0 8px 24px rgba(0, 0, 0, 0.3);

  --radius: 12px;
}

:root.rework {
  --bg: #faf8f5;
  --bg-elevated: #ffffff;
  --bg-sunken: #f0ebe695;
  --bg-surface: #f0ebe695;

  --text-main: #2f2f2f;
  --text-muted: #7c7c7c;
  --border: #d6d1cb;

  --accent: #4caf50;           /* forest green */
  --accent-secondary: #d0511b; /* clay orange */

  --shadow-low: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-high: 0 2px 4px rgba(0, 0, 0, 0.25);

  --radius: 12px; 
}

body {
  background: var(--bg);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
  margin: 0;
}

.card {
  background: var(--bg-elevated);
  border: 1px solid var(--border);
  padding: 1.25rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-low);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card:hover {
  box-shadow: var(--shadow-medium);
  transform: translateY(-2px);
}


.metric {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.5px;
}


.btn {
  background: var(--accent);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn:hover {
  background: var(--accent-secondary);
}

.input,
textarea,
select {
  background: var(--bg-surface);
  border: 1px solid var(--border);
  padding: 0.6rem;
  border-radius: 8px;
  color: var(--text-main);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

a {
  text-decoration: none;
  color: var(--text-main);
}

a:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--accent);
  
}
