:root {
  --bg: #faf8f5;
  --bg-elevated: #ffffff;
  --bg-sunken: #f0ebe695;

  --text-main: #2f2f2f;
  --text-muted: #7c7c7c;
  --border: #d6d1cb;

  --accent: #4caf50;
  --accent-secondary: #d0511b;

  --shadow-low: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.25);

  --radius: 12px;
  --radius-lg: 16px;
  --padding: 10px;
}

:root.dark {
  --bg: #222831;
  --bg-elevated: #393e46;
  --bg-sunken: #2d323a;

  --accent: #00adb5;
  --accent-secondary: #ff5722;

  --text-main: #eeeeee;
  --text-muted: #b5b9bd;

  --border: #4a4f55;

  --shadow-low: 0 2px 4px rgba(0, 0, 0, 0.25);
  --shadow-medium: 0 4px 12px rgba(0, 0, 0, 0.25);

  --radius: 12px;
  --radius-lg: 16px;
  --padding: 10px;
}

body {
  background: var(--bg);
  color: var(--text-main);
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Crimson Pro'; 
  font-weight: bold; 
  font-size: x-large;
  color: var(--accent-secondary); 
}

h2 {
  font-size: large; 
  justify-self: center; 
  color: var(--accent-secondary); 
  padding-top: var(--padding); 
}

a {
  text-decoration: none;
  color: var(--text-main);
}

a:hover {
  opacity: 0.8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}