.run-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.run-input-field:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 6px rgba(0, 173, 181, 0.4),
    inset 0 2px 4px rgba(0, 0, 0, 0.25);
}
