.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #000;
}

.start-dot {
    background-color: #00ff00; 
    /* bright green */
}

.finish-dot {
    background-color: #ff0000;
    /* bright red */
}